.wrapper{
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,207,210);
background: linear-gradient(90deg, rgba(255,207,210,1) 0%, rgba(185,251,192,1) 100%);
}




.phone {
   height: 40rem;
   width: 26rem; 
   border-radius: 10%;
   box-shadow: .5rem 1rem 2rem;
   background: rgb(255,207,210);
background: linear-gradient(90deg, rgba(255,207,210,1) 0%, rgba(185,251,192,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
    
}

.row{
display: flex;
flex-direction: row;
justify-content: space-evenly;

}

.app-1{
    height: 4rem;
    width: 4rem;
    background: rgb(255,226,148);
    background: linear-gradient(90deg, rgba(255,226,148,1) 0%, rgba(255,143,228,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-1:hover{
transform: scale(1.5);
}
.app-2{
    height: 4rem;
    width: 4rem;
    background: rgb(223,174,238);
background: linear-gradient(90deg, rgba(223,174,238,1) 0%, rgba(148,233,148,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-2:hover{
transform: scale(1.5);
}

.app-3{
    height: 4rem;
    width: 4rem;
    background: rgb(238,174,223);
    background: linear-gradient(90deg, rgba(238,174,223,1) 0%, rgba(193,233,148,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-3:hover{
    transform: scale(1.5);
}


.app-4{
    height: 4rem;
    width: 4rem;
    background: rgb(255,103,103);
    background: linear-gradient(90deg, rgba(255,103,103,1) 0%, rgba(233,148,233,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-4:hover{
    transform: scale(1.5);
}
.app-5{
    height: 4rem;
    width: 4rem;
    background: rgb(251,248,204);
background: linear-gradient(90deg, rgba(251,248,204,1) 0%, rgba(207,186,240,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-5:hover{
    transform: scale(1.5);
}
.app-6{
    height: 4rem;
    width: 4rem;
    background: rgb(255,207,210);
background: linear-gradient(90deg, rgba(255,207,210,1) 0%, rgba(163,196,243,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-6:hover{
    transform: scale(1.5);
}
.app-7{
    height: 4rem;
    width: 4rem;
    background: rgb(185,251,192);
background: linear-gradient(90deg, rgba(185,251,192,1) 0%, rgba(144,219,244,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;

}

.app-7:hover{
    transform: scale(1.5);
}
.app-8{
    height: 4rem;
    width: 4rem;
    background: rgb(185,195,251);
    background: linear-gradient(90deg, rgba(185,195,251,1) 0%, rgba(152,245,225,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-8:hover{
    transform: scale(1.5);
}

.app-9{
    height: 4rem;
    width: 4rem;
    background: rgb(241,192,232);
    background: linear-gradient(90deg, rgba(241,192,232,1) 0%, rgba(245,152,152,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-9:hover{

    transform: scale(1.5);
}
.app-10{
    height: 4rem;
    width: 4rem;
    background: rgb(159,248,255);
background: linear-gradient(90deg, rgba(159,248,255,1) 0%, rgba(127,255,132,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-10:hover{
    transform: scale(1.5);
}

.app-11{
    height: 4rem;
    width: 4rem;
    background: rgb(255,104,251);
background: linear-gradient(90deg, rgba(255,104,251,1) 0%, rgba(255,127,127,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-11:hover{
    transform: scale(1.5);
}

.app-12{
    height: 4rem;
    width: 4rem;
    background: rgb(104,125,255);
background: linear-gradient(90deg, rgba(104,125,255,1) 0%, rgba(245,142,226,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-12:hover{
    transform: scale(1.5);
}

.app-13{
    height: 4rem;
    width: 4rem;
    background: rgb(253,255,144);
    background: linear-gradient(90deg, rgba(253,255,144,1) 0%, rgba(142,236,245,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-13:hover{
    transform: scale(1.5);
}
.app-14{
    height: 4rem;
    width: 4rem;
    background: rgb(184,122,251);
    background: linear-gradient(90deg, rgba(184,122,251,1) 0%, rgba(142,236,245,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-14:hover{
    transform: scale(1.5);
}
.app-15{
    height: 4rem;
    width: 4rem;
    background: rgb(147,137,255);
background: linear-gradient(90deg, rgba(147,137,255,1) 0%, rgba(249,255,109,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-15:hover{

    transform: scale(1.5);
}

.app-16{
    height: 4rem;
    width: 4rem;
    background: rgb(198,166,247);
background: linear-gradient(90deg, rgba(198,166,247,1) 0%, rgba(255,137,137,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-16:hover{
    transform: scale(1.5);
}

.app-17{
    height: 4rem;
    width: 4rem;
    background: rgb(255,159,200);
    background: linear-gradient(90deg, rgba(255,159,200,1) 0%, rgba(122,255,135,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}
.app-17:hover{
    transform: scale(1.5);
}
.app-18{
    height: 4rem;
    width: 4rem;
    background: rgb(141,122,255);
background: linear-gradient(90deg, rgba(141,122,255,1) 0%, rgba(207,186,240,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}
.app-18:hover{
    transform: scale(1.5);
}

.app-19{
    height: 4rem;
    width: 4rem;
    background: rgb(159,213,255);
    background: linear-gradient(90deg, rgba(159,213,255,1) 0%, rgba(255,216,122,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-19:hover{
    transform: scale(1.5);
}

.app-20{
    height: 4rem;
    width: 4rem;
    background: rgb(186,175,255);
    background: linear-gradient(90deg, rgba(186,175,255,1) 0%, rgba(248,136,255,1) 100%);
    border-radius: 10%;
    transition: .5s ease-in-out;
}

.app-20:hover{
    transform: scale(1.5);
}